.extender-photo-gallery_page_extender_gallery_options #wpwrap { background-color: #8888e1; }

.extender-photo-gallery_page_extender_gallery_options #wpcontent { background-image: url('img/wp.png'); background-position: right bottom; background-repeat: no-repeat; }

.extender-photo-gallery_page_extender_gallery_options .form-table th { color: #fff; }

.extender-photo-gallery_page_extender_gallery_options h1 { color: #fff; }
	
.extender-photo-gallery_page_extender_gallery_options h2 { color: #fff; }